{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<div class="contenedorFormulario">

    {% if "valido" in request.GET %}

        <p style="color: white;">Se ha enviado la informacion correctamente</p>

    {% endif %}

    <form action="" method="POST" style="text-align: center; margin: auto;">

        {% csrf_token %}
        <table style="color: white; margin: 20px auto;">{{miformulario.as_table}}</table>

        <input type="submit" value="Enviar" style="width: 150px;">

    </form>
</div>

{% endblock %}