{% extends "ProyectoWebApp/base.html" %}

{% load static %}

{% block content %}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if "noenviado" in request.GET %}
  
        <script>

            Swal.fire({
              "title": "Oops",
              "text" : "No se ha podido enviar la informacion",
              "icon" : "error"
            })

        </script>
      

    {% endif %}

    <div class="contenedorFormulario">

        <form action="" method="post" style="text-align: center;">

            {% csrf_token %}

            <table style="color: white; margin: 20px auto;">

                {{miFormulario.as_table}}
    
            </table>

            <input type="submit" value="Enviar" style="width:150px;">

        </form>

        
    </div>

    <!--<p style="color: white;">{{request.POST}}</p>-->

{% endblock %}
